In [1]:
# The code was removed by DSX for sharing.

  id        vendor_id pickup_datetime     dropoff_datetime    passenger_count
1 id2875421 2         2016-03-14 17:24:55 2016-03-14 17:32:30 1
2 id2377394 1         2016-06-12 00:43:35 2016-06-12 00:54:38 1
3 id3858529 2         2016-01-19 11:35:24 2016-01-19 12:10:48 1
4 id3504673 2         2016-04-06 19:32:31 2016-04-06 19:39:40 1
5 id2181028 2         2016-03-26 13:30:55 2016-03-26 13:38:10 1
6 id0801584 2         2016-01-30 22:01:40 2016-01-30 22:09:03 6
  pickup_longitude pickup_latitude dropoff_longitude dropoff_latitude
1 -73.98215        40.76794        -73.96463         40.76560
2 -73.98042        40.73856        -73.99948         40.73115
3 -73.97903        40.76394        -74.00533         40.71009
4 -74.01004        40.71997        -74.01227         40.70672
5 -73.97305        40.79321        -73.97292         40.78252
6 -73.98286        40.74220        -73.99208         40.74918
  store_and_fwd_flag trip_duration
1 N                   455
2 N                   663
3 N                  2124
4 N                   429
5 N                   435
6 N                   443

In [2]:
data=df.data.1

In [3]:
head(data)

  id        vendor_id pickup_datetime     dropoff_datetime    passenger_count
1 id2875421 2         2016-03-14 17:24:55 2016-03-14 17:32:30 1
2 id2377394 1         2016-06-12 00:43:35 2016-06-12 00:54:38 1
3 id3858529 2         2016-01-19 11:35:24 2016-01-19 12:10:48 1
4 id3504673 2         2016-04-06 19:32:31 2016-04-06 19:39:40 1
5 id2181028 2         2016-03-26 13:30:55 2016-03-26 13:38:10 1
6 id0801584 2         2016-01-30 22:01:40 2016-01-30 22:09:03 6
  pickup_longitude pickup_latitude dropoff_longitude dropoff_latitude
1 -73.98215        40.76794        -73.96463         40.76560
2 -73.98042        40.73856        -73.99948         40.73115
3 -73.97903        40.76394        -74.00533         40.71009
4 -74.01004        40.71997        -74.01227         40.70672
5 -73.97305        40.79321        -73.97292         40.78252
6 -73.98286        40.74220        -73.99208         40.74918
  store_and_fwd_flag trip_duration
1 N                   455
2 N                   663
3 N                  2124
4 N                   429
5 N                   435
6 N                   443

In [4]:
head(df.data.1)

  id        vendor_id pickup_datetime     dropoff_datetime    passenger_count
1 id2875421 2         2016-03-14 17:24:55 2016-03-14 17:32:30 1
2 id2377394 1         2016-06-12 00:43:35 2016-06-12 00:54:38 1
3 id3858529 2         2016-01-19 11:35:24 2016-01-19 12:10:48 1
4 id3504673 2         2016-04-06 19:32:31 2016-04-06 19:39:40 1
5 id2181028 2         2016-03-26 13:30:55 2016-03-26 13:38:10 1
6 id0801584 2         2016-01-30 22:01:40 2016-01-30 22:09:03 6
  pickup_longitude pickup_latitude dropoff_longitude dropoff_latitude
1 -73.98215        40.76794        -73.96463         40.76560
2 -73.98042        40.73856        -73.99948         40.73115
3 -73.97903        40.76394        -74.00533         40.71009
4 -74.01004        40.71997        -74.01227         40.70672
5 -73.97305        40.79321        -73.97292         40.78252
6 -73.98286        40.74220        -73.99208         40.74918
  store_and_fwd_flag trip_duration
1 N                   455
2 N                   663
3 N                  2124
4 N                   429
5 N                   435
6 N                   443

In [5]:
head(data)

  id        vendor_id pickup_datetime     dropoff_datetime    passenger_count
1 id2875421 2         2016-03-14 17:24:55 2016-03-14 17:32:30 1
2 id2377394 1         2016-06-12 00:43:35 2016-06-12 00:54:38 1
3 id3858529 2         2016-01-19 11:35:24 2016-01-19 12:10:48 1
4 id3504673 2         2016-04-06 19:32:31 2016-04-06 19:39:40 1
5 id2181028 2         2016-03-26 13:30:55 2016-03-26 13:38:10 1
6 id0801584 2         2016-01-30 22:01:40 2016-01-30 22:09:03 6
  pickup_longitude pickup_latitude dropoff_longitude dropoff_latitude
1 -73.98215        40.76794        -73.96463         40.76560
2 -73.98042        40.73856        -73.99948         40.73115
3 -73.97903        40.76394        -74.00533         40.71009
4 -74.01004        40.71997        -74.01227         40.70672
5 -73.97305        40.79321        -73.97292         40.78252
6 -73.98286        40.74220        -73.99208         40.74918
  store_and_fwd_flag trip_duration
1 N                   455
2 N                   663
3 N                  2124
4 N                   429
5 N                   435
6 N                   443

In [6]:
is.date(data$pickup_datetime)

ERROR: Error in is.date(data$pickup_datetime): could not find function "is.date"

In [7]:
is.Date(data$pickup_datetime)

ERROR: Error in is.Date(data$pickup_datetime): could not find function "is.Date"

In [8]:
str(data)

'data.frame':	1458644 obs. of  11 variables:
 $ id                : Factor w/ 1458644 levels "id0000001","id0000003",..: 1049146 867656 1406900 1278210 796093 292638 661964 483844 475304 4611 ...
 $ vendor_id         : int  2 1 2 2 2 2 1 2 1 2 ...
 $ pickup_datetime   : Factor w/ 1380222 levels "2016-01-01 00:00:17",..: 551678 1242713 132901 730931 643837 209696 1285977 1082041 1132744 521413 ...
 $ dropoff_datetime  : Factor w/ 1380377 levels "2016-01-01 00:03:31",..: 551465 1242869 132996 730737 643622 209505 1286059 1082285 1132790 521374 ...
 $ passenger_count   : int  1 1 1 1 1 6 4 1 1 1 ...
 $ pickup_longitude  : num  -74 -74 -74 -74 -74 ...
 $ pickup_latitude   : num  40.8 40.7 40.8 40.7 40.8 ...
 $ dropoff_longitude : num  -74 -74 -74 -74 -74 ...
 $ dropoff_latitude  : num  40.8 40.7 40.7 40.7 40.8 ...
 $ store_and_fwd_flag: Factor w/ 2 levels "N","Y": 1 1 1 1 1 1 1 1 1 1 ...
 $ trip_duration     : int  455 663 2124 429 435 443 341 1551 255 1225 ...

In [9]:
as.Date(data$pickup_datetime[1])

[1] "2016-03-14"

In [10]:
as.Date(data$pickup_datetime[1],format="%y-%m-%d hh:mm:ss")

[1] NA

In [11]:
as.Date(data$pickup_datetime[1],format="%Y-%m-%d hh:mm:ss")

[1] NA

In [12]:
as.Date(data$pickup_datetime[1],format="%Y-%m-%d")

[1] "2016-03-14"

In [13]:
library(lubridate)

Attaching package: ‘lubridate’

The following object is masked from ‘package:base’:

    date

In [14]:
mdy_hms(data$pickup_datetime[1])

Warning message:
“All formats failed to parse. No formats found.”

[1] NA

In [15]:
as.Date(data$pickup_datetime[1],format="%Y-%m-%d %H:%M:%S")

[1] "2016-03-14"

In [16]:
format(as.POSIXct(strptime(data$pickup_datetime[1],"%d/%m/%Y %H:%M",tz="")) ,format = "%H:%M")

[1] NA

In [17]:
format(as.POSIXct(strptime(data$pickup_datetime[1],"%Y-%m-%d %H:%M:%S",tz="")) ,format = "%H:%M")

[1] "17:24"

In [18]:
format(as.POSIXct(strptime(data$pickup_datetime[1],"%Y-%m-%d %H:%M:%S",tz="")) ,format = "%H:%M:%S")

[1] "17:24:55"

In [19]:
head(data)

  id        vendor_id pickup_datetime     dropoff_datetime    passenger_count
1 id2875421 2         2016-03-14 17:24:55 2016-03-14 17:32:30 1
2 id2377394 1         2016-06-12 00:43:35 2016-06-12 00:54:38 1
3 id3858529 2         2016-01-19 11:35:24 2016-01-19 12:10:48 1
4 id3504673 2         2016-04-06 19:32:31 2016-04-06 19:39:40 1
5 id2181028 2         2016-03-26 13:30:55 2016-03-26 13:38:10 1
6 id0801584 2         2016-01-30 22:01:40 2016-01-30 22:09:03 6
  pickup_longitude pickup_latitude dropoff_longitude dropoff_latitude
1 -73.98215        40.76794        -73.96463         40.76560
2 -73.98042        40.73856        -73.99948         40.73115
3 -73.97903        40.76394        -74.00533         40.71009
4 -74.01004        40.71997        -74.01227         40.70672
5 -73.97305        40.79321        -73.97292         40.78252
6 -73.98286        40.74220        -73.99208         40.74918
  store_and_fwd_flag trip_duration
1 N                   455
2 N                   663
3 N                  2124
4 N                   429
5 N                   435
6 N                   443

In [20]:
data$pickuptime_hour=format(as.POSIXct(strptime(data$pickup_datetime,"%Y-%m-%d %H:%M:%S",tz="")) ,format = "%H")

In [21]:
data$pickuptime_hour=format(as.POSIXct(strptime(data$pickup_datetime,"%Y-%m-%d %H:%M:%S",tz="")) ,format = "%M")

In [22]:
data$pickuptime_hour=format(as.POSIXct(strptime(data$pickup_datetime,"%Y-%m-%d %H:%M:%S",tz="")) ,format = "%H")

In [23]:
data$pickuptime_minute=format(as.POSIXct(strptime(data$pickup_datetime,"%Y-%m-%d %H:%M:%S",tz="")) ,format = "%M")

In [24]:
data$pickuptime_second=format(as.POSIXct(strptime(data$pickup_datetime,"%Y-%m-%d %H:%M:%S",tz="")) ,format = "%S")

In [25]:
data$pickup_date=as.Date(data$pickup_datetime[1],format="%Y-%m-%d %H:%M:%S")

In [26]:
head(data)

  id        vendor_id pickup_datetime     dropoff_datetime    passenger_count
1 id2875421 2         2016-03-14 17:24:55 2016-03-14 17:32:30 1
2 id2377394 1         2016-06-12 00:43:35 2016-06-12 00:54:38 1
3 id3858529 2         2016-01-19 11:35:24 2016-01-19 12:10:48 1
4 id3504673 2         2016-04-06 19:32:31 2016-04-06 19:39:40 1
5 id2181028 2         2016-03-26 13:30:55 2016-03-26 13:38:10 1
6 id0801584 2         2016-01-30 22:01:40 2016-01-30 22:09:03 6
  pickup_longitude pickup_latitude dropoff_longitude dropoff_latitude
1 -73.98215        40.76794        -73.96463         40.76560
2 -73.98042        40.73856        -73.99948         40.73115
3 -73.97903        40.76394        -74.00533         40.71009
4 -74.01004        40.71997        -74.01227         40.70672
5 -73.97305        40.79321        -73.97292         40.78252
6 -73.98286        40.74220        -73.99208         40.74918
  store_and_fwd_flag trip_duration pickuptime_hour pickuptime_minute
1 N                   455          17              24
2 N                   663          00              43
3 N                  2124          11              35
4 N                   429          19              32
5 N                   435          13              30
6 N                   443          22              01
  pickuptime_second pickup_date
1 55                2016-03-14
2 35                2016-03-14
3 24                2016-03-14
4 31                2016-03-14
5 55                2016-03-14
6 40                2016-03-14

In [27]:
data$dropofftime_hour=format(as.POSIXct(strptime(data$dropoff_datetime,"%Y-%m-%d %H:%M:%S",tz="")) ,format = "%H")

In [28]:
data$dropofftime_minute=format(as.POSIXct(strptime(data$dropoff_datetime,"%Y-%m-%d %H:%M:%S",tz="")) ,format = "%M")

In [29]:
data$dropofftime_second=format(as.POSIXct(strptime(data$dropoff_datetime,"%Y-%m-%d %H:%M:%S",tz="")) ,format = "%S")

In [30]:
data$dropoff_date=as.Date(data$dropoff_datetime,format="%Y-%m-%d %H:%M:%S")

In [31]:
data$pickup_date=as.Date(data$pickup_datetime,format="%Y-%m-%d %H:%M:%S")

In [32]:
head(data)

  id        vendor_id pickup_datetime     dropoff_datetime    passenger_count
1 id2875421 2         2016-03-14 17:24:55 2016-03-14 17:32:30 1
2 id2377394 1         2016-06-12 00:43:35 2016-06-12 00:54:38 1
3 id3858529 2         2016-01-19 11:35:24 2016-01-19 12:10:48 1
4 id3504673 2         2016-04-06 19:32:31 2016-04-06 19:39:40 1
5 id2181028 2         2016-03-26 13:30:55 2016-03-26 13:38:10 1
6 id0801584 2         2016-01-30 22:01:40 2016-01-30 22:09:03 6
  pickup_longitude pickup_latitude dropoff_longitude dropoff_latitude
1 -73.98215        40.76794        -73.96463         40.76560
2 -73.98042        40.73856        -73.99948         40.73115
3 -73.97903        40.76394        -74.00533         40.71009
4 -74.01004        40.71997        -74.01227         40.70672
5 -73.97305        40.79321        -73.97292         40.78252
6 -73.98286        40.74220        -73.99208         40.74918
  store_and_fwd_flag trip_duration pickuptime_hour pickuptime_minute
1 N                   455          17              24
2 N                   663          00              43
3 N                  2124          11              35
4 N                   429          19              32
5 N                   435          13              30
6 N                   443          22              01
  pickuptime_second pickup_date dropofftime_hour dropofftime_minute
1 55                2016-03-14  17               32
2 35                2016-06-12  00               54
3 24                2016-01-19  12               10
4 31                2016-04-06  19               39
5 55                2016-03-26  13               38
6 40                2016-01-30  22               09
  dropofftime_second dropoff_date
1 30                 2016-03-14
2 38                 2016-06-12
3 48                 2016-01-19
4 40                 2016-04-06
5 10                 2016-03-26
6 03                 2016-01-30

In [33]:
str(data)

'data.frame':	1458644 obs. of  19 variables:
 $ id                : Factor w/ 1458644 levels "id0000001","id0000003",..: 1049146 867656 1406900 1278210 796093 292638 661964 483844 475304 4611 ...
 $ vendor_id         : int  2 1 2 2 2 2 1 2 1 2 ...
 $ pickup_datetime   : Factor w/ 1380222 levels "2016-01-01 00:00:17",..: 551678 1242713 132901 730931 643837 209696 1285977 1082041 1132744 521413 ...
 $ dropoff_datetime  : Factor w/ 1380377 levels "2016-01-01 00:03:31",..: 551465 1242869 132996 730737 643622 209505 1286059 1082285 1132790 521374 ...
 $ passenger_count   : int  1 1 1 1 1 6 4 1 1 1 ...
 $ pickup_longitude  : num  -74 -74 -74 -74 -74 ...
 $ pickup_latitude   : num  40.8 40.7 40.8 40.7 40.8 ...
 $ dropoff_longitude : num  -74 -74 -74 -74 -74 ...
 $ dropoff_latitude  : num  40.8 40.7 40.7 40.7 40.8 ...
 $ store_and_fwd_flag: Factor w/ 2 levels "N","Y": 1 1 1 1 1 1 1 1 1 1 ...
 $ trip_duration     : int  455 663 2124 429 435 443 341 1551 255 1225 ...
 $ pickuptime_hour   : chr  "17" "00" "11" "19" ...
 $ pickuptime_minute : chr  "24" "43" "35" "32" ...
 $ pickuptime_second : chr  "55" "35" "24" "31" ...
 $ pickup_date       : Date, format: "2016-03-14" "2016-06-12" ...
 $ dropofftime_hour  : chr  "17" "00" "12" "19" ...
 $ dropofftime_minute: chr  "32" "54" "10" "39" ...
 $ dropofftime_second: chr  "30" "38" "48" "40" ...
 $ dropoff_date      : Date, format: "2016-03-14" "2016-06-12" ...

In [34]:
data$dropofftime_minute[1]-data$pickuptime_minute[1]

ERROR: Error in data$dropofftime_minute[1] - data$pickuptime_minute[1]: non-numeric argument to binary operator

In [35]:
as.numeric(data$dropofftime_minute[1])-as.numeric(data$pickuptime_minute[1])

[1] 8

In [36]:
data$dropofftime_minute=as.numeric(data$dropofftime_minute)

In [37]:
data$dropofftime_hour=as.numeric(data$dropofftime_hour)

In [38]:
data$dropofftime_second=as.numeric(data$dropofftime_second)

In [39]:
data$pickuptime_minute=as.numeric(data$pickuptime_minute)

In [40]:
data$pickuptime_hour=as.numeric(data$pickuptime_hour)

In [41]:
data$pickuptime_second=as.numeric(data$pickuptime_second)

In [42]:
head(data)

  id        vendor_id pickup_datetime     dropoff_datetime    passenger_count
1 id2875421 2         2016-03-14 17:24:55 2016-03-14 17:32:30 1
2 id2377394 1         2016-06-12 00:43:35 2016-06-12 00:54:38 1
3 id3858529 2         2016-01-19 11:35:24 2016-01-19 12:10:48 1
4 id3504673 2         2016-04-06 19:32:31 2016-04-06 19:39:40 1
5 id2181028 2         2016-03-26 13:30:55 2016-03-26 13:38:10 1
6 id0801584 2         2016-01-30 22:01:40 2016-01-30 22:09:03 6
  pickup_longitude pickup_latitude dropoff_longitude dropoff_latitude
1 -73.98215        40.76794        -73.96463         40.76560
2 -73.98042        40.73856        -73.99948         40.73115
3 -73.97903        40.76394        -74.00533         40.71009
4 -74.01004        40.71997        -74.01227         40.70672
5 -73.97305        40.79321        -73.97292         40.78252
6 -73.98286        40.74220        -73.99208         40.74918
  store_and_fwd_flag trip_duration pickuptime_hour pickuptime_minute
1 N                   455          17              24
2 N                   663           0              43
3 N                  2124          11              35
4 N                   429          19              32
5 N                   435          13              30
6 N                   443          22               1
  pickuptime_second pickup_date dropofftime_hour dropofftime_minute
1 55                2016-03-14  17               32
2 35                2016-06-12   0               54
3 24                2016-01-19  12               10
4 31                2016-04-06  19               39
5 55                2016-03-26  13               38
6 40                2016-01-30  22                9
  dropofftime_second dropoff_date
1 30                 2016-03-14
2 38                 2016-06-12
3 48                 2016-01-19
4 40                 2016-04-06
5 10                 2016-03-26
6  3                 2016-01-30

In [43]:
str(data)

'data.frame':	1458644 obs. of  19 variables:
 $ id                : Factor w/ 1458644 levels "id0000001","id0000003",..: 1049146 867656 1406900 1278210 796093 292638 661964 483844 475304 4611 ...
 $ vendor_id         : int  2 1 2 2 2 2 1 2 1 2 ...
 $ pickup_datetime   : Factor w/ 1380222 levels "2016-01-01 00:00:17",..: 551678 1242713 132901 730931 643837 209696 1285977 1082041 1132744 521413 ...
 $ dropoff_datetime  : Factor w/ 1380377 levels "2016-01-01 00:03:31",..: 551465 1242869 132996 730737 643622 209505 1286059 1082285 1132790 521374 ...
 $ passenger_count   : int  1 1 1 1 1 6 4 1 1 1 ...
 $ pickup_longitude  : num  -74 -74 -74 -74 -74 ...
 $ pickup_latitude   : num  40.8 40.7 40.8 40.7 40.8 ...
 $ dropoff_longitude : num  -74 -74 -74 -74 -74 ...
 $ dropoff_latitude  : num  40.8 40.7 40.7 40.7 40.8 ...
 $ store_and_fwd_flag: Factor w/ 2 levels "N","Y": 1 1 1 1 1 1 1 1 1 1 ...
 $ trip_duration     : int  455 663 2124 429 435 443 341 1551 255 1225 ...
 $ pickuptime_hour   : num  17 0 11 19 13 22 22 7 23 21 ...
 $ pickuptime_minute : num  24 43 35 32 30 1 34 54 12 45 ...
 $ pickuptime_second : num  55 35 24 31 55 40 59 58 23 1 ...
 $ pickup_date       : Date, format: "2016-03-14" "2016-06-12" ...
 $ dropofftime_hour  : num  17 0 12 19 13 22 22 8 23 22 ...
 $ dropofftime_minute: num  32 54 10 39 38 9 40 20 16 5 ...
 $ dropofftime_second: num  30 38 48 40 10 3 40 49 38 26 ...
 $ dropoff_date      : Date, format: "2016-03-14" "2016-06-12" ...

In [44]:
data$dropofftime_minute[1]-data$pickuptime_minute[1]

[1] 8

In [45]:
data$dropofftime_longitude[1]-data$pickuptime_longitude[1]

integer(0)

In [3]:
head(data)

1 function (..., list = character(), package = NULL, lib.loc = NULL,
2     verbose = getOption("verbose"), envir = .GlobalEnv)
3 {
4     fileExt <- function(x) {
5         db <- grepl("\\\\.[^.]+\\\\.(gz|bz2|xz)$", x)
6         ans <- sub(".*\\\\.", "", x)